<h1>Laugh Tracks</h1>

<% @comedians.each do |comedian| %>
  <div id="comedian-<%=comedian.id%>">
    Name: <%= comedian.name %>
    Age: <%= comedian.age %>
    Hometown: <%= comedian.hometown %>
    <%comedian.specials.each do |special|%>
      <div id="special-<%=special.id%>">
        Special: <%=special.name%>
        Runtime: <%=special.runtime%>
        <img src="<%=special.thumbnail%>" width="50" height="100"></div>
    <%end%>
  </div>
<% end %>
