<h1>Laugh Tracks</h1>

<header id="statistics">
  <h2>Comedian Stats</h2>
  <div>
    <h3>Average Age: <%= @comedians.average_age.to_f.round(2) %></h3>
    <h3>Average Special Run Time: <%= @comedians.average_specials_runtime.to_f.round(2) %></h3>
    <h3>Hometowns: <%= @comedians.unique_hometown_list.join(", ") %></h3>
    <h3>Total Specials: <%= @comedians.total_specials %> </h3>
  </div>
</header>

<% @comedians.each do |comedian| %>
  <div id="comedian-<%=comedian.id%>">
    Name: <%= comedian.name %>
    Age: <%= comedian.age %>
    Hometown: <%= comedian.hometown %>
    Total Specials: <%= comedian.specials.count %>
    <%comedian.specials.each do |special|%>
      <div id="special-<%=special.id%>">
        Special: <%=special.name%>
        Runtime: <%=special.runtime%>
        <img src="<%=special.thumbnail%>" width="50" height="100"></div>
    <%end%>
  </div>
<% end %>
