<section id="statistics">
  <h2>Comedian Stats:</h2>
  <div>
    <h3>Average Age: <div><%= @comedians.average_age.to_f.round(2) %></div></h3>
    <h3>Average Special Run Time: <div><%= @comedians.average_specials_runtime.to_f.round(2) %></div></h3>
    <h3>Hometowns: <div><%= @comedians.unique_hometown_list.join(", ") %></div></h3>
    <h3>Total Specials: <div><%= @comedians.total_specials %> </div></h3>
  </div>
</section>

<% @comedians.each do |comedian| %>
  <div class="comedian-frame" id="comedian-<%=comedian.id%>">
    <div class="profile-pic">
      <img src="<%=comedian.profile_pic%>">
    </div>
    <div class="indy-stats" >
      Name: <%= comedian.name %></br>
      Age: <%= comedian.age %></br>
      Hometown: <%= comedian.hometown %></br>
      Total Specials: <%= comedian.specials.count %>
    </div>
    <%comedian.specials.each do |special|%>
    <div class="special-stats">
      <div id="special-<%=special.id%>">
        <img src="<%=special.thumbnail%>" width="150" height="200">
      </div>
      <div class="special-info">
        Special: <%=special.name%> </br>
        Runtime: <%=special.runtime%>
      </div>
    </div>
    <%end%>
  </div>
<% end %>
